* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: block;
}

/* header section start */

.flower-header {
  max-width: 1536px;
  margin: 0 auto;
  min-height: 612px;
  background-color: rgba(229, 84, 115, 0.1);
}

.flower-container {
  display: flex;
  gap: 72px;
  margin-left: 175px;
  margin-right: 175px;
}

.flower-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: ; */
  margin-top: 141px;
  margin-bottom: 108px;
}

.flower-left-heading {
  color: rgb(39, 39, 39);
  font-size: 57px;
  max-width: 700px;
  font-weight: 800;
  letter-spacing: 0%;
  text-align: left;
}

.flower-left-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 32px;
}

.btn-container {
  text-align: left;
}

.flower-left-btn {
  background-color: rgb(229, 84, 115);
  margin-top: 53px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 10px;
  border: none;
}

.flower-right-container {
  margin-top: 50px;
}

.flower-right-img {
  background-color: rgba(229, 84, 115, 0.1);
  width: 457px;
  height: 100%;
}

/* main styles */

main {
}

/* feature start here */

.feature {
  margin-left: 175px;
  margin-right: 175px;
}

.feature-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.feature-left-container {
  text-align: center;
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-title {
  width: 280px;
  height: 34px;
}

.feature-description {
  width: 428px;
  margin-bottom: 34px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 13px;
  width: 428px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

.feature-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.feature-img-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
}

.img-container {
  height: 538px;
  max-width: 350px;
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 50% 50% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-desc {
  margin-top: 23px;
}

.feature-img {
}

.feature-img-container {
  margin-top: 37px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

/* icon section start here */

.icon {
  /* border: 2px solid red; */
  margin-left: 175px;
  margin-right: 175px;
  min-height: 230px;
  max-width: 1006px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 134px;
  margin-bottom: 92px;
}

.icon-content-container {
  /* border: 2px solid red; */
  max-width: 267px;
  min-height: 106px;
  text-align: center;
}

.deal {
  min-height: 446px;
  max-width: 1536px;
  /* border: 5px solid red; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.05);
}

.deal-container {
  margin-left: 175px;
  margin-right: 175px;
  display: flex;
  margin-left: 293px;
  margin-right: 300px;
  gap: 133px;
}

.deal-container-left {
  max-width: 427px;
  min-height: 164px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deal-container-left h2 {
  margin-bottom: 17px;
  max-width: 386px;
  min-height: 34px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.deal-container-left h2 span {
  color: rgb(239, 143, 163);
}

.deal-container-left p {
  width: 427px;
  height: 43px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
}

.deal-container-left button {
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(229, 84, 115);
  border: none;
  color: white;
}

.deal-container-right {
  margin-top: 72px;
  margin-bottom: 72px;
}

.deal-container-right {
  /* border: 2px solid red; */
}

.deal-container-right img {
  max-width: 318px;
  min-height: 420px;
}

/* deal ends */

/* insta start */

.instagram {
  /* border: 2px solid red; */
  max-width: 1536px;
  margin: 0 auto;
}

.instagram-top-container {
  /* border: 2px solid pink; */
  text-align: center;
  margin-top: 93px;
}

.instagram-top-container h3 {
  color: rgb(39, 39, 39);
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 18px;
}

.instagram-top-container p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 12px;
  max-width: 427px;
  margin: 0 auto;
  min-height: 43px;
  font-weight: 400;
  text-align: center;
}

.instagram-bottom-container {
  margin: 0 auto;
  display: flex;
  /* border: 2px solid green; */
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 34px;
  margin-bottom: 93px;
}

.bottom-img-container img {
  /* Rectangle 3 */
  width: 246px;
  height: 285px;
}

.bottom-img-container:nth-of-type(1) img {
  background-color: rgba(246, 246, 246, 1);
}

.bottom-img-container:nth-of-type(2) img {
  background-color: rgba(229, 216, 208, 1);
}

.bottom-img-container:nth-of-type(3) img {
  background-color: rgba(250, 199, 180, 1);
}

.bottom-img-container:nth-of-type(4) img {
  background-color: rgba(232, 227, 224, 1);
}

/* end of instagram */

/* latest start here */

.latest {
  max-width: 1041px;
  min-height: 323px;
  margin: 0 auto;
  background-image: url("../Flower Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 93px;
}

.latest-top-container {
}

.latest-top-container h3 {
  text-align: center;
  color: rgb(39, 39, 39);
  font-weight: 800;
  font-size: 29px;
  margin-bottom: 11.5px;
}

.latest-top-container p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 13px;
  text-align: center;
  margin-bottom: 34.704px;
}

.latest-bottom-container {
}

.latest-bottom-container input {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  /* Rectangle 10 */
  max-width: 506px;
  min-height: 46.272px;
  margin-right: 5px;
  border: none;
}

.latest-bottom-container button {
  /* Rectangle 11 */
  width: 109px;
  height: 47px;
  border-radius: 5px;
  background: rgb(229, 84, 115);
  border: none;
}

/* end of latest */

/* footer start here */

.footer-container {
  max-width: 1536px;
  min-height: 360px;
  margin: 0 auto;
  /* border: 2px solid yellow; */
  text-align: center;
  background-color: rgb(17, 16, 16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  margin-top: 102px;
}

.footer-container h2 {
  font-size: 38px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.footer-container h2 span {
  color: rgb(229, 84, 115);
}

.footer-container p:first-of-type {
  color: rgba(255, 255, 255, 0.9);
  max-width: 625px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.footer p:last-of-type {
  max-width: 355px;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
}

/* responsive design */

@media screen and (max-width: 576px) {
  .flower-header {
    max-width: 100%;
    height: 100%;
  }
  .flower-container {
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
  }
  .flower-container-left {
    text-align: center;
    margin: 20px;
  }
  .flower-right-container {
    height: 100%;
    width: 100%;
  }
  .flower-right-img {
    width: 100%;
    height: 100%;
  }
  .feature-img-container {
    flex-direction: column;
  }
  .deal {
    flex-direction: column;
  }
  .icon,
  .deal-container {
    flex-direction: column;
  }
  .instagram-bottom-container {
    flex-direction: column;
  }
  .latest {
    flex-direction: column;
    height: 95%;
    width: 95%;
  }
  .footer-container {
    max-width: 95%;
    height: 95%;
  }
  .latest-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
    height: 95%;
    width: 95%;
  }
  .latest-bottom-container input {
    /* align-self: center; */
    max-width: 100%;
    margin-bottom: 20px;
    height: 80%;
    /* border: 2px solid green; */
  }
  .latest-bottom-container button {
    text-align: center;
    align-self: center;
  }
}
